# Dependencies
node_modules/
/dist
/build

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env*

# Vercel and Build Artifacts
.vercel
/out

.DS_Store